.ListOfLangs {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-left: 1.2rem;
  margin-top: 1.5rem;
}

.listOfLangs__header,
.listOfLangs__mainText {
  margin-bottom: 1.5rem;
}

.listOfLangs__programmingLangs {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.programming__langsIcons {
  width: 8%;
}

.Java,
.python,
.Typescript {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.programming__langLanguage {
  margin-left: 1rem;
}
