.ListOfLangs {
  display: flex;
  flex-flow: column;
  margin-left: 1.5rem;
}

.listOfLangs__header,
.listOfLangs__text {
  margin-bottom: 1.3rem;
}

.listOfLangs__programmingL {
  display: flex;
  flex-flow: column;
}

.java,
.python,
.typescript {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.listOfLangs__icons {
  width: 7%;
}

.listOfLangs__name {
  margin-left: 1rem;
}
